@model MobileMVC.Models.CategoryModel

@{
    ViewBag.Title = "Category-Add";
}

@section Header {
    @Html.ActionLink("Cancel", "Index", "Todo", null, new { data_icon = "arrow-l"})
    <h1>@ViewBag.Title</h1>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    @Html.HiddenFor(m => m.IconId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.TaskNum)

    <ul data-role="listview" data-inset="false" data-theme="d">
        <li data-role="list-divider">Details</li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
        </li>

        <div style="padding-left: 10px">
            @{ Html.RenderPartial("_SelectIconPartial", Model.IconModel); }
        </div>
          
        <li data-role="fieldcontain">
            <input type="submit" value="Add" id="addButton" />
        </li>
    </ul>
}

